<a href="@Url.Action("Giohang","Giohang")" style="color:White; font-weight:bold; text-decoration: none;">
    <img src="~/images/shopping-cart.png" style="width: 20px;height: 20px;" /> Giỏ Hàng (@ViewBag.Tongsoluong)
</a>